/**
 * root vars
 */

:root {
    --primary: #a55eea;
    --red: #fc5c65;
    --green: #20bf6b;
    --yellow: #fed330;
    --indigo: #8854d0;
}

/**
 * Navbar theme
 */
nav.navbar {
    padding: 2rem 4rem;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-item * {
    color: #666;
}

.navbar-nav .nav-item.active a {
    background: -webkit-linear-gradient(var(--primary), var(--indigo));
    color: #F1F1F1!important;
    padding: 7px 14px;
    border-radius: 7px;
    font-weight: bold;
    opacity: 0.9;
}

.navbar-nav .nav-item:not(.dropdown) a:hover {
    color: var(--primary)!important;
}


.navbar-nav .nav-item.active a:hover {
    color: #EEE!important;
}

.nav-item.dropdown .dropdown-menu {
    text-align: center;
    border: 1px solid #F1F1F1;
    margin-top: 1rem;
    padding: 0;
}

.nav-item.dropdown .dropdown-menu a {
    padding: 10px;
}

/**
 * titles
 */
h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}